<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <main>
        <div>
            <h1>{{ list.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date|date:"M d, Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</html>
